  label {
        margin-bottom: 15px;
        display: inline-block;
        width: 150px;
        text-align: right;
      }

form {
  text-align: center;
}

p {
  text-align: center;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

