  label {
        margin-bottom: 15px;
        display: inline-block;
        width: 150px;
        text-align: right;
      }

form {
}

p {
  text-align: center;
}


.div1 {
  width: 1000px;
  height: 150px;
  border: 1px solid black;
  background: yellow;
  text-align: center;
  margin: auto;
}

.div2{
  width: 555px;
  height: 300px;
  border: 1px solid black;
  background: yellow;
  text-align: center;
  margin: auto;
}

body {
  background-color: pink;
}




