  label {
        margin-bottom: 15px;
        display: inline-block;
        width: 150px;
        text-align: right;
      }

form {
  text-align: center;
}

p {
  text-align: center;
}


.div1 {
  width: 1000px;
  height: 150px;
  border: 1px solid black;
  background: #796E65;
  text-align: center;
  margin: auto;
}

body {
  background-color: #d85a7b;
}


